<div class="px-4 py-8">
    <a href="{{ routes.collections_url }}" class="text-gray text-500 hover:underline text-center block my-4">Go back to Collection</a>
    {% paginate collection.products by section.settings.products_per_page %}
        <h1 class="text-4xl text-center">{{ collection.title }}</h1>
        <div class="max-w-4xl mx-auto">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                {% for product in collection.products %}
                    {% render 'product-card' product_product: product %}                    
                  {% else %}
                    There is no product in this collection.
                  {% endfor %}
            </div>
        </div>
    
        {% render 'pagination' pagination: paginate %}
      {% endpaginate %}
</div>


{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "products_per_page",
            "default": 6,
            "label": "Select Products Per Page"
        }
    ],
    "presets": [
        {
            "name": "Template Collection"
        }
    ]
}
{% endschema %}